
.profile-background {
  background: url("https://wallpapercave.com/wp/wp4813458.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
}

.card-profile {
  overflow: hidden;
  // height: 120px;
  background: 102E68;
  box-shadow: 0 0 15px 5B82C6;
  // display: flex;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 10px;
  // padding-left: 5px;
  // padding-bottom: 10px;
  padding: 30px;
}

.img_profile {
  // object-fit: cover;
  margin-bottom: 20px;
  border-radius: 180px;
}
