
  <div class="banner">
    <div class="">
     <h1>To Be Found</h1>
      <p>Give help directly to those that need help in the Amazon rainforest area.</p>
      <a class="button" href="#">Sign in</a>
    </div>
    

  <div class="cards">
    <div class="card">
      <div class="mx-auto">
        <%= image_tag "sign_up.png" %>
      </div>
        <h2>Sign up</h2>
        <p>Sign up and create your profile to directly help the people who are in need.</p>
    </div>

    <div class="card">
      <div class="mx-auto">
        <%= image_tag "donate.png" %>
      </div>
     <h2>Donate</h2>
      <p>Donate directly to the people who are in need.</p>
    </div>
    <div class="card">
        <div class="mx-auto">
          <%= image_tag "help.png" %>
        </div>
      <h2>Help</h2>
      <p>Offer your skills to help the people who are in need.</p>
    </div>
  </div>

  <div class="org_btn_background">
  <img src="//app/assets/images/check_out_orgs.png" alt="">
  <h2>Take a look at local groups, NGOs, and other organisations who are making a difference in the Amazon forest.</h2>
  <%= link_to "Explore Organisations", organisations_path(@user), class:"button" %>
  </div>
