
  <div class="banner">
    <div class="">
     <h1>To Be Found</h1>
      <p>Give help directly to those that need help in the Amazon rainforest area.</p>
      <a class="button" href="#">Sign in</a>
    </div>
    <% if current_user %>
      <%= link_to "My profile", profile_path(@user), class: "btn btn-success btn-sm" %>
    <% end %>
  </div>

  <div class="cards">
    <div class="card">
    <%# <img src="logo.jpg" alt="connect"> %>
    <%= image_tag "signup.png" %>
    <h2>Sign up</h2>
    <p>Sign up and create your profile to directly help the people who are in need.</p>
    </div>
    <div class="card">
    <img src="undraw_Login_re_4vu2.png" alt="connect">
    <h2>Donate</h2>
    <p>Donate directly to the people who are in need.</p>
    </div>
    <div class="card">
    <img src="undraw_Login_re_4vu2.png" alt="connect">
    <h2>Help</h2>
    <p>Offer your skills to help the people who are in need.</p>
    </div>
  </div>

  <div class="org_btn_background">
  <img src="//app/assets/images/check_out_orgs.png" alt="">
  <h2>Take a look at local groups, NGOs, and other organisations who are making a difference in the Amazon forest</h2>
  <%= link_to "Explore Organisations", organisations_path(@user), class:"button" %>
  </div>
