<h1>Thank you for your donation.</h1>
<p></p>
<h3>You have just helped our organisation to get a step closer to our goal.</h3>


<div class="container p-5">
      <%= link_to "check out other organisations you would like to help", organisations_path(@user), class: "btn btn-warning btn-lg" %>
</div>
