<div class="container my-5">
    <div class="row">
        <div class="col-xs-12">
            <div  class="text-center">
              <h1 class="mb-5">Thank you for your donation!</h1>
              <%= link_to 'Back', :back, class: "button" %>
              <%= link_to "Go back to your profile", profile_path, class: "button my-5" %>
            </div>
        </div>
    </div>
</div>
