<div class="container mb-5">
    <div class="row">
        <div class="col-xs-12">
            <div  class="text-center">
              <h1>Thank you for your donation!</h1>
              <h5>Please click on the donate button and follow the instructions.</h5>
              <div id="donate-button-container">
                <div id="donate-button" class="my-5"></div>
                <script src="https://www.paypalobjects.com/donate/sdk/donate-sdk.js" charset="UTF-8"></script>
                <script>
                  PayPal.Donation.Button({
                  env:'production',
                  hosted_button_id:'UYDYRK86LCZBA',
                  image: {
                  src:'https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif',
                  alt:'Donate with PayPal button',
                  title:'PayPal - The safer, easier way to pay online!',
                  }
                  }).render('#donate-button');
                </script>
              </div>
              <%#= link_to "Go back to your profile", profile_path, class: "button my-5" %>
            </div>
        </div>
    </div>
</div>
