<div class="container">
  <div class="row py-4">
    <div class="col-md-3"><%#= image_tag @donation.teddy.photo_url, width: '100%' %></div>
    <div class="col">
      <h1>Checkout summary</h1>
      <p>Purchase of <strong><%#= @donation.teddy.name %></strong> for <strong><%#= humanized_money_with_symbol @order.amount %></strong></p>
      <p>Purchase of <strong><%= @donation %></strong> for <strong><%= @donation %><%#= humanized_money_with_symbol @order.amount %></strong></p>
      <button id="pay" class="button w-50">Proceed with the payment</button>
    </div>
  </div>
</div>
