
<div class="container p-5">
  <div class="row card-post">

    <div class="col-xs-12 col-lg-4">
      <% if @post.photo.attached? %>
      <%= cl_image_tag @post.photo.key %>
      <% end %>
    </div>

    <div class="col-xs-12 col-lg-8">
      <div class="py-1">
        <h1><%= @post.title %></h1>
        <p><%= @post.created_at.strftime("%Y.%m.%d %H:%M:%S") %></p>
        <p><%= @post.content %></p>
      </div>
    </div>
  </div>
</div>
