.card-post {
  overflow: hidden;
  // height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 20px;
}

.card-post img {
  margin: 10px;
  width: 100%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.card-post h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: black;
}

.card-post h3 {
  font-size: 12px;
  font-weight: lighter;
  margin: 0;
  color: rgb(66, 105, 195);
 }

.card-post p {
  font-size: 18px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: black;
}

.card-post .card-post-infos {
  padding: 16px;
}

p#date {
  color: #102e68;
  font-style: italic;
}
