.create_org_button {
width: 258.88px;
height: 52px;
top: 1280px;
border:blanchedalmond;
background-color: lightblue;
text-align: center;
border-radius: 10px;
padding-top: 14px;
}

.create_org_button {
  a {
    text-decoration: none;
    color: aliceblue;
  }
}
