.donations_box {
box-sizing: border-box;

// position: absolute;
// width: 649px;
// height: 240px;
// left: 584px;
// top: 793px;
color: aliceblue;
background: #4f83cc;
border: 1px solid #5B82C6;
border-radius: 15px;
background: rgba(91, 130, 198, 0.6);
}
.donations_box {
  h2 {
    color: whitesmoke ;
  }
}

.donations_box {
  li {
    color: #4f83cc;
    border-radius: 4px;
    border-style: groove;
    opacity: 0.95;
    // border-color:#D9A21B ;
    border-width: medium;
    // width: 600px;
    text-align: center;
    background: rgba(91, 130, 198, 0.6);
  }
}
