.navbar-lewagon {
  justify-content: space-between;
  background: #102e68;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 100px;
}

.navbar-brand {

}

.navbar-brand img {
  position: absolute;
  top: -2px;
  background: radial-gradient(#235696, #72c21900);
  border-radius: 50%;
}


.own-link {
  color: rgb(198, 198, 198) !important;
}

.dropdown-item {
  background-color: #102e68;
}
