.navbar-lewagon {
  justify-content: space-between;
  background: #235696;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 50px;
}

.navbar-brand {
  margin: 0px;
  padding: 0px;
}


.own-link {
  color: rgb(198, 198, 198) !important;
}
