.profile_box {
box-sizing: border-box;
width: 400px;
color: aliceblue;
background: #4f83cc;
border: 1px solid #5B82C6;
border-radius: 15px;
background: rgba(91, 130, 198, 0.6);
}

.profile_box {
  a {
    color: whitesmoke ;
  }
}

.profile_box {
  h2 {
    color: whitesmoke ;
    padding-bottom: 0px;
  }
}

.pro_img img {
  padding: 0px;
  border: solid rgba(16,61,104, 0.5) 5px;
  width: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}
