.skillset_box {
box-sizing: border-box;
color: aliceblue;
background: #4f83cc;
border: 1px solid #5B82C6;
border-radius: 15px;
background: rgba(91, 130, 198, 0.6);
}

.skillset_box {
  li {
    color:#002f6c;
    opacity: 0.95;
    border-radius: 1px;
    border-color: whitesmoke;
    text-align: center;
    background: rgba(181, 207, 254, 0.8);
  }
}

.skillset_box {
  h2 {
    color: whitesmoke ;

  }
}
.skillset_box {
  h6 {
    color:#002f6c;
  }
}
